<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Azmayeshgah-e-shimi</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>itemsFilePath</param-name>
    <param-value>/home/jam/Azmayeshgah-e-shimi/data.csv</param-value>
  </context-param>
  <listener>
    <listener-class>server.Server</listener-class>
  </listener>
  <filter>
    <filter-name>authentication-filter</filter-name>
    <filter-class>request_handlers.AuthenticationFilter</filter-class>
    <init-param>
      <param-name>excludedUrls</param-name>
      <param-value>/signin,/signup,/signout,/sensors.jsp,/index.html,/new_changes.html,/request_info.html,/request_info_sensors.html,/basestation_request_manual.html</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>authentication-filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>items-servlet</servlet-name>
    <servlet-class>request_handlers/ItemsHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>items-servlet</servlet-name>
    <url-pattern>/items</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>search-servlet</servlet-name>
    <servlet-class>request_handlers/SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search-servlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>make-interesting-servlet</servlet-name>
    <servlet-class>request_handlers/MakeInteresting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>make-interesting-servlet</servlet-name>
    <url-pattern>/makeinteresting</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>interesting-items-servlet</servlet-name>
    <servlet-class>request_handlers/InterestingItemsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>interesting-items-servlet</servlet-name>
    <url-pattern>/interestingitems</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>request-price-servlet</servlet-name>
    <servlet-class>request_handlers/RequestPriceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>request-price-servlet</servlet-name>
    <url-pattern>/requestprice</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>customer-questions-servlet</servlet-name>
    <servlet-class>request_handlers/CustomerQuestionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>customer-questions-servlet</servlet-name>
    <url-pattern>/customerquestions</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>active-searches-servlet</servlet-name>
    <servlet-class>request_handlers/ActiveSearchesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>active-searches-servlet</servlet-name>
    <url-pattern>/activesearches</url-pattern>
  </servlet-mapping>
  
</web-app>